.one{
    padding-left: 50px;
}

.two{
    background-color: #5f9dd8;
    color: rgb(255, 255, 255);
    padding: 50px;
}

.three{
    text-align: center;
    padding: 50px;
}
.four{
    background-color: #5f9dd8;
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
}

.border{
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    text-align: center;
    padding-top: 25px;
    margin: auto;
}

.dev{
    padding: 50px;
    text-align: center;
    background-color: rgb(36, 27, 27);
    color: white;
}

.cut{
    height: 10px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #5f9dd8;
    left: 50%;
    bottom: -450px;
    position: absolute;
}